<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/product.css">
<link rel="stylesheet" href="/css/auth.css">
  </head>
  <body>
    <%- include('../includes/navigation.ejs') %>

    <main>
      <h1>Reset Password</h1>

      <% if (errorMessage) { %> 
      <div class="user-message user-message-error"><%= errorMessage %></div>
      <% } %> 
      
      <form class="login-form" action="/passwordReset" method="POST">
        <div class="form-control">
          <label for="newPassword">Enter New Password</label>
          <input type="text" name="newPassword" />
          <label for="password2">Confirm New Password</label>
          <input type="password2" name="password2" id="password2" />
          
          <input type="hidden" name="userId" value="<%= userId %>">
          <input type="hidden" name="pswToken" value="<%= pswToken %>">
          <input type="hidden" name="_csrf" value="<%= csrfToken %>">
          <button type="submit">Create New Password</button> 

        </div>
      </form>
        
    </main>
    
    <%- include('../includes/end.ejs') %>
