<div class="backdrop"></div>
<header class="main-header">
    <button id="side-menu-toggle">Menu</button>
    <nav clang="main-header-nav">
        <ul class="main-header__item-list">
          <li class="main-header__item"><a href="/" class="<%= path === '/' ? 'active' : '' %>">My List</a></li>

          <li class="main-header__item">
          <a href="/admin/listOfProducts" class="<%= path === '/admin/listOfProducts' ? 'active' : '' %>">Products</a>
        </li>


        <li class="main-header__item">
          <a href="/admin/addProduct" class="<%= path === '/admin/addProduct' ? 'active' : '' %>">Add Product</a>
        </li>

        <li class="main-header__item">
          <a href="/admin/adminProducts" class="<%= path === '/admin/adminProducts' ? 'active' : '' %>">Admin Product</a>
        </li>

        <li class="main-header__item">
          <a href="/cart" class="<%= path === '/cart' ? 'active' : '' %>">My Cart</a>
        </li>

        <li class="main-header__item">
          <a href="/orders" class="<%= path === '/orders' ? 'active' : '' %>">My Orders</a>
        </li>

        
        <li class="main-header__item"><a href="/about" class="<%= path === '/about' ? 'active' : '' %>">About Us</a></li>
        <li class="main-header__item"><a href="/direction" class="<%= path === '/direction' ? 'active' : '' %>">Direction</a></li>


        <li class="main-header__item"><a href="/login" class="<%= path === '/login' ? 'active' : '' %>">LogIn</a></li>
      </ul>
    </nav>
  </header>


  <nav clang="mobile-nav-nav">
      <ul class="mobile-nav__item-list">
        <li class="mobile-nav__item"><a href="/" class="<%= path === '/' ? 'active' : '' %>">My List</a></li>

        <li class="mobile-nav__item">
        <a href="/admin/listOfProducts" class="<%= path === '/admin/listOfProducts' ? 'active' : '' %>">Products</a>
      </li>


      <li class="mobile-nav__item">
        <a href="/admin/addProduct" class="<%= path === '/admin/addProduct' ? 'active' : '' %>">Add Product</a>
      </li>

      <li class="mobile-nav__item">
        <a href="/admin/adminProducts" class="<%= path === '/admin/adminProducts' ? 'active' : '' %>">Admin Product</a>
      </li>

      <li class="mobile-nav__item">
        <a href="/cart" class="<%= path === '/cart' ? 'active' : '' %>">My Cart</a>
      </li>

      <li class="mobile-nav__item">
        <a href="/orders" class="<%= path === '/orders' ? 'active' : '' %>">My Orders</a>
      </li>

      
      <li class="mobile-nav__item"><a href="/about" class="<%= path === '/about' ? 'active' : '' %>">About Us</a></li>
      <li class="mobile-nav__item"><a href="/direction" class="<%= path === '/direction' ? 'active' : '' %>">Direction</a></li>


      <li class="mobile-nav__item"><a href="/login" class="<%= path === '/login' ? 'active' : '' %>">LogIn</a></li>
    </ul>
  </nav>