<div class="backdrop"></div>
<header class="main-header">
  <nav clang="main-header-nav">
    <ul class="main-header-ul">
      <li class="main-header-li firstItem <%= path === '/' ? 'active' : '' %>">
        <a href="/">Home</a>
      </li>

      <li class="main-header-li <%= path === '/productList' ? 'active' : '' %>">
        <a href="/productList">Products</a>
      </li>


      <!-- admin related -->
      <% if (isLoggedIn) { %>    
      <li
        class="main-header-li <%= path === '/admin/editProduct' ? 'active' : '' %>"
      >
        <a href="/admin/editProduct">Add Product</a>
      </li>
      <li
        class="main-header-li <%= path === '/admin/listOfProducts' ? 'active' : '' %>"
      >
        <a href="/admin/listOfProducts">Admin Product</a>
      </li>

      <!-- user related -->
      <li class="main-header-li <%= path === '/cart' ? 'active' : '' %>">
        <a href="/cart">My Cart</a>
      </li>

      <li class="main-header-li <%= path === '/orders' ? 'active' : '' %>">
        <a href="/orders">My Orders</a>
      </li>

      <% } %>
      <!-- end admin related -->
      <!-- end user related -->


      <!-- <li class="main-header-li <%= path === '/about' ? 'active' : '' %>"><a href="/about">About Us</a></li>
        <li class="main-header-li <%= path === '/direction' ? 'active' : '' %>"><a href="/direction">Direction</a></li> -->

        <% if (!isLoggedIn) { %>   
      <li class="main-header-li <%= path === '/login' ? 'active' : '' %>">
       
        <a href="/login">LogIn</a>
      </li>
      <li class="main-header-li <%= path === '/login' ? 'active' : '' %>"">
        <a href="/signup">Signup</a>
    </li>
      <% } else { %>
      <li class="main-header-li">
        <form action="/logout" method="post">
          <input type="hidden" name="_csrf" value="<%= csrfToken %>">
          <button type="submit">LogOut</button>
        </form>

      </li>

      <% } %>

    </ul>
  </nav>
</header>
