<div class="backdrop"></div>
<header class="main-header">
    <nav clang="main-header-nav">
      <ul class="main-header-ul">
        <li class="main-header-li firstItem <%= path === '/' ? 'active' : '' %>"><a href="/">My List</a></li>

        <li class="main-header-li <%= path === '/productList' ? 'active' : '' %>">
          <a href="/productList">Products</a>
        </li>


        <li class="main-header-li <%= path === '/admin/addProduct' ? 'active' : '' %>">
          <a href="/admin/addProduct">Add Product</a>
        </li>

        <li class="main-header-li <%= path === '/admin/listOfProducts' ? 'active' : '' %>">
          <a href="/admin/listOfProducts">Admin Product</a>
        </li>

        <li class="main-header-li <%= path === '/cart' ? 'active' : '' %>">
          <a href="/cart">My Cart</a>
        </li>

        <li class="main-header-li <%= path === '/orders' ? 'active' : '' %>">
          <a href="/orders">My Orders</a>
        </li>

        
        <!-- <li class="main-header-li <%= path === '/about' ? 'active' : '' %>"><a href="/about">About Us</a></li>
        <li class="main-header-li <%= path === '/direction' ? 'active' : '' %>"><a href="/direction">Direction</a></li> -->


        <li class="main-header-li <%= path === '/login' ? 'active' : '' %>"><a href="/login">LogIn</a></li>
      </ul>
    </nav>
  </header>