<%- include('../includes/head.ejs') %>
  </head>
  <body>
    <%- include('../includes/navigation.ejs') %>
    
  

    <main>
      <h1>My Cart - Total Cost: $<%= cost %></h1>
      

      <% if (prods.length > 0) { %>
      <ul>
        <% prods.forEach( p => { %>
          <li>
            <p><%= p.title %> (<%= p.cartItem.quantity %>)</p>
            <form action="/cartDeleteItem" method="POST">
              <input type="hidden" name="productId" value="<%= p.id %>">
              <input type="hidden" name="productQty" value="<%= p.cartItem.quantity %>">

              <button class="btn editBtn" type="submit">Delete</button>
            </form>
             </li>
         
          <% }) %>

      </ul>


     <% } else { %>
        <h1 >No Products in the Cart</h1>
      <% } %>
    </main>
    
    <%- include('../includes/end.ejs') %>