<%- include('../includes/head.ejs') %>
  </head>
  <body>
    <%- include('../includes/navigation.ejs') %>
    
   <main>
        
      <h1>My Orders:</h1>
      
      <% if (orders.length > 0) { %>
      <ul class="orders">
        <% orders.forEach( o => { %>
          <li class="orders__item">
            <h3>Order - # <%= o._id %> </h3>
              <ul class="orders__products">
                 
                <% o.products.forEach( p => { %>
                    <li class="order__products-item">
                        <%= p.product.title %> - <%= p.quantity %> - $<%= p.totalCostItems %>
                    </li>
                  <% }) %>
                    <p>...........................</p>
                    <p>TOTAL: $<%= o.totalCostOrder                      %> - <a href="/orders/<%=o._id%>">Invoice</a></p>
              </ul>
          </li>
         
          <% }) %>

      </ul>

      <hr />
      <p>Thank you for shopping with us</p>
      </form>

     <% } else { %>
        <h1 >No Orders Found</h1>
      <% } %>
    </main>
    
    <%- include('../includes/end.ejs') %>